.contenido-iframe iframe {
    width: 100%;
    height: 1200px;
  }
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #boton-volver {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  #boton-volver:hover {
    transform: scale(1.1);
  }
  /*
  #boton-volver {
    position: relative;
    top: -100px;
    left: 500px;
  }*/
  
  /*.boton-volver {
    padding: 100px 100px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  @media (max-width: 576px) {
    .boton-volver {
      font-size: 0.875rem;
      padding: 0.375rem 0.75rem;
    }
  }
  
  @media (max-width: 768px) {
    .boton-volver {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  
  @media (max-width: 992px) {
    .boton-volver {
      font-size: 1.125rem;
      padding: 0.625rem 1.25rem;
    }
  }
  
  @media (max-width: 1200px) {
    .boton-volver {
      font-size: 1.25rem;
      padding: 0.75rem 1.5rem;
    }
  }
  .containervolver {
    display: flex;
    justify-content: flex-end;
  }
  
  .boton-volver {
    margin: -300px;
  }*/
  /* Estilos para el botón */
/* Estilos para el botón */
.boton-volver {
  display: inline-block;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 500px; /* ajusta la posición vertical */
  left: 300px; /* ajusta la posición horizontal */
  z-index: 1; /* ajusta la capa en caso de solapamiento */
}

/* Estilos para el contenedor del botón */
.containervolver {
  position: relative;
  display: inline-block;
}

/* Estilos para el contenedor del botón en pantallas pequeñas */
@media (max-width: 767px) {
  .containervolver {
    display: block;
    text-align: center;
  }
}

/* Estilos para el botón en pantallas pequeñas */
@media (max-width: 767px) {
  .boton-volver {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}



  
  
  