.contenido-iframe iframe {
    width: 100%;
    height: 1200px;
  }
  .tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #boton-volver {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  #boton-volver:hover {
    transform: scale(1.1);
  }
  .animacion {
    opacity: 1; /* Transparencia */
    font-size: 30px; /* Reducci칩n de tama침o de fuente */
    transition: all 10s ease; /* Duraci칩n y tipo de animaci칩n */
  }
  .animacion {
    font-size: 36px;
    transition: font-size 10s ease-out;
  }
  /*
  #boton-volver {
    position: relative;
    top: -100px;
    left: 500px;
  }*/
  
  /*.boton-volver {
    padding: 100px 100px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  @media (max-width: 576px) {
    .boton-volver {
      font-size: 0.875rem;
      padding: 0.375rem 0.75rem;
    }
  }
  
  @media (max-width: 768px) {
    .boton-volver {
      font-size: 1rem;
      padding: 0.5rem 1rem;
    }
  }
  
  @media (max-width: 992px) {
    .boton-volver {
      font-size: 1.125rem;
      padding: 0.625rem 1.25rem;
    }
  }
  
  @media (max-width: 1200px) {
    .boton-volver {
      font-size: 1.25rem;
      padding: 0.75rem 1.5rem;
    }
  }
  .containervolver {
    display: flex;
    justify-content: flex-end;
  }
  
  .boton-volver {
    margin: -300px;
  }*/
  






  
  
  